menu "Main App"
	
	config N_SLAVES
        int "SPI slave nb"
        default 6
        range 0 8
        help
            Number of SPI slaves to handle.

    config SPI_WDT
        int "SPI watchdog value"
        default 20
        help
            Maximum number of SPI communication that can be done with one slave until a valid eth/wifi frame is received.
            If no valid eth/wifi as been received in time, the masterboard disables itself and send zeros to every slaves.

    config SPI_N_ATTEMPT
        int "SPI nb of attempts"
        default 2
        range 0 4
        help
            Maximum number of attempts in one spi communication (for one slave).

	config LED_GPIO
        int "Built-In LED GPIO"
        default 2
        range 0 39
        help
            Output GPIO on which the built-in led is wired.    

	config BUTTON_GPIO
	        int "Intput button GPIO"
	        default 36
	        range 0 39
	        help
	            Input GPIO on which the button (pull-down) is wired.

endmenu
